<suite name="suite1">
    <test name="SumergeTechnicalAssessment">
        <classes>
            <class name="LoginPage"></class>
            <class name="EmptyCredentials"></class>
            <class name="InvalidCredentials"></class>
            <class name="ValidCredentials"></class>
        </classes>
    </test>
</suite>